.sessao-calculadora {
	width: 100%;
	height: 100%;
	text-align: center;
	background: var(--fundo);
	padding-bottom: 5%;
}

.cal {
	background: white;
	text-align: center;
	display: inline-block;
	width: 50%;
	height: 100%;
	padding: 15rem 15rem;
	border-radius: 15px;
}
.cal:hover {
	box-shadow: 0 14px 28px var(--prc), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.cal input[type="text"] {
	margin-bottom: 2rem;
	width: 75%;
	align-items: center;
	border: 1.2px solid rgb(0, 0, 0);
	border-radius: 4px;
	box-sizing: border-box;
	background-color: #ffffff;
	color: rgb(0, 0, 0);
	padding: 12px 20px;
	cursor: pointer;
	float: center;
}

.cal button {
	color: #000000;
	font-size: 1rem;
	text-transform: uppercase;
	width: 40%;
	height: 3rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	letter-spacing: 0.2rem;
	cursor: pointer;
	background-color: transparent;
	border: solid;
	border-width: 2.3px;
	border-radius: 9px;
}

.cal h2 {
	font-size: 3rem;
	margin-bottom: 2rem;
	font-weight: 600;
	font-family: var(--primary);
}

#retorno {
	font-size: 2rem;
}
#notas {
	font-size: 2rem;
}

@media (max-width: 920px) {
	.cal {
		width: 90%;
		height: 100%;
		padding: 5rem 5rem;
	}
}
